.alma_hours_widget {display:none; float:left; border-top-left-radius: 5px; border-top-right-radius: 5px;}
.alma_hours_widget_title {background-color:darkred; color:white; text-align:center; padding:10px; font-size:24px; border-top-left-radius: 5px; border-top-right-radius: 5px;}
.alma_hours_list {list-style-type: none; padding:0; margin:0;}
.alma_hours_row {background-color:brown; color:white; padding:4px 10px; margin:1px 0;}
.alma_hours_row_date {margin-right:10px;}
.alma_hours_row_open {margin-right:5px;}
.alma_hours_row_close {margin-left:5px;}